#content{
    width:100%;
    height:600px;
    background:lightblue;
    position:relative;
    overflow:hidden;
}
#shark{
    left:100px;
    top:400px;
    position:absolute;
    animation:Shark 10s linear infinite;
}
@keyframes Shark{
    0%{left:100px;top:400px;}
    20%{left:300px;top:400px;}
    40%{left:500px;top:300px;}
    50%{left:600px;top:50px;}
    60%{left:600px;top:100px;}
    80%{left:500px;top:200px;}
    100%{left:100px;top:400px;transform:scaleX(-1);}
}
#diver1{
    left:-200px;
    top:200px;
    position:absolute;
    animation:Diver1 13s linear infinite;
}
@keyframes Diver1{
    0%{left:-200px;top:200px;}
    50%{left:900px;top:220px;}
    100%{left:-200px;top:200px;}
}
#diver2{
    left:-300px;
    top:300px;
    position:absolute;
    animation:Diver2 16s linear infinite;
}
@keyframes Diver2{
    0%{left:-300px;top:300px;}
    40%{left:700px;top:330px;}
    80%{left:1100px;top:290px;}
    100%{left:-300px;top:300px;}
}
#diver3{
    left:-250px;
    top:100px;
    position:absolute;
    animation:Diver3 20s linear infinite;
}
@keyframes Diver3{
    0%{left:-250px;top:100px;}
    30%{left:300px;top:150px;}
    60%{left:900px;top:120px;}
    100%{left:-250px;top:100px;}
}
#turtle{
    left:100%;
    top:450px;
    position:absolute;
    animation:Turtle 25s linear infinite;
}
@keyframes Turtle{
    0%{left:100%;top:450px;}
    50%{left:300px;top:420px;}
    100%{left:-200px;top:450px;}
}
#faintSchool{
    left:-300px;
    top:350px;
    position:absolute;
    animation:FaintSchool 18s linear infinite;
}
@keyframes FaintSchool{
    0%{left:-300px;top:350px;}
    50%{left:900px;top:360px;}
    100%{left:-300px;top:350px;}
}
#goldFishSchool{
    left:100%;
    top:180px;
    position:absolute;
    animation:GoldFish 14s linear infinite;
}

@keyframes GoldFish{
    0%{left:100%;top:180px;}
    30%{left:700px;top:150px;}
    60%{left:300px;top:200px;}
    100%{left:-200px;top:180px;}
}
#bubbles{
    left:50%;
    bottom:-100px;
    position:absolute;
    animation:Bubbles 6s linear infinite;
}
@keyframes Bubbles{
    0%{bottom:-100px;opacity:0;}
    20%{opacity:1;}
    80%{opacity:1;}
    100%{bottom:600px;opacity:0;}
}
